<div class="container d-flex justify-content-between my-3 pt-5">
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn my-2 my-sm-0" type="submit">Search</button>
  </form>
  <button type="button" class="btn btn-primary"><i class="fas fa-plus-circle"></i>Add cocktail</button>
</div>
<div class="container">
  <ul class="cards">
    <% @cocktails.each do |cocktail| %>
      <!-- <li class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3))"> -->
        <li class="card">
          <%= link_to cocktail_path(cocktail) do %>
            <%= cl_image_tag cocktail.photo, height: 300, width: 400, crop: "mfit", class: "card-img-top"%>
            <div class="card-body">
              <h5 class="card-title"><%= cocktail.name %></h5>
              <p><%= cocktail.description %></p>
            </div>
          <% end %>
        </li>
    <% end %>
  </ul>

  <%= link_to "Add cocktail", new_cocktail_path %>
</div>
