<div id="index-header" class="d-flex justify-content-between m-3 pt-3">
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
  </form>
  <%= link_to new_cocktail_path do %>
    <button type="button" class="btn main-btn">ADD COCKTAIL</button>
  <% end %>
</div>

<ul class="cards m-3">
  <% @cocktails.each do |cocktail| %>
      <li class="card">
        <%= link_to cocktail_path(cocktail) do %>
          <%= cl_image_tag cocktail.photo, height: 300, width: 400, crop: "mfit", class: "card-img-top"%>
          <div class="card-body">
            <h5><%= cocktail.name %></h5>
            <p style="display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis;">
              <%= cocktail.description %>
            </p>
          </div>
        <% end %>
      </li>
  <% end %>
</ul>
